<h2>{{ titulo }}</h2>
<hr/>
<!-- Indicar un nombre al formulario formProducto -->
<!-- Invocar al metodo onSubmit al enviar el formulario -->
<form #formProducto="ngForm" (ngSubmit)="onSubmit()" class="col-lg-6">
  <!-- Adicionar estilo has-error de bootstrap si el campo esta vacio -->
  <div class="form-group" [ngClass]="{ 'has-error' : (!nombre.valid && nombre.touched) }">
    <label>Nombre</label>
    <!-- Asociar el campo del formulario con el modelo -->
    <input type="text" #nombre="ngModel" name="nombre" [(ngModel)]="producto.nombre" class="form-control" required>
    <!-- Mostrar mensaje en caso que el campo este vacio -->
    <span *ngIf="!nombre.valid && nombre.touched" class="help-block">El nombre es obligatorio.</span>
  </div>
  <div class="form-group" [ngClass]="{ 'has-error' : (!descripcion.valid && descripcion.touched) }">
    <label>Descripcion</label>
    <textarea #descripcion="ngModel" name="descripcion" [(ngModel)]="producto.descripcion" class="form-control" required></textarea>
    <span *ngIf="!descripcion.valid && descripcion.touched" class="help-block">La descripcion es obligatoria.</span>
  </div>
  <div class="form-group" [ngClass]="{ 'has-error' : (!precio.valid && precio.touched) }">
    <label>Precio</label>
    <input type="text" #precio="ngModel" name="precio" [(ngModel)]="producto.precio" class="form-control" required pattern="[0-9]+">
    <span *ngIf="!precio.valid && precio.touched" class="help-block">El precio es un valor numerico obligatorio.</span>
  </div>
  <div class="form-group">
    <label>Imagen</label>
    <input type="file" class="form-control">
  </div>
  <div class="form-group">
    <!-- Desactivar el boton cuando el formulario no sea valido-->
    <input type="submit" value="Guardar" class="btn btn-success" [disabled]="!formProducto.form.valid">
  </div>
</form>
